<mat-card appearance="outlined" class="lab900-card">
  <mat-card-header style="display: flex; justify-content: space-between; align-items: center; padding: 8px 16px">
    <mat-card-title>
      <h3>{{ exampleTitle() | translate }}</h3>
    </mat-card-title>
    <button
      mat-icon-button
      (click)="toggleSourceView()"
      matTooltip="Toggle source"
      [disabled]="extensions().length === 0">
      <mat-icon>code</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    @if (showSource() && exampleName()) {
      <div class="example-source-wrapper">
        <mat-tab-group mat-stretch-tabs="false">
          @for (ext of extensions(); track ext) {
            <mat-tab [label]="ext">
              <markdown lineNumbers [src]="examplePath() + (ext | lowercase)" [start]="0" />
            </mat-tab>
          }
        </mat-tab-group>
      </div>
    }
    <div style="padding: 30px" #exampleComponent>
      <ng-content />
    </div>
  </mat-card-content>
</mat-card>
