::ng-deep lab900-table tr.lab900-table__pre-footer-title-row {
  background-color: #b3e6e4;
  text-align: center;
}

::ng-deep lab900-table td.lab900-table__pre-footer-title-cell {
  text-align: center;
}

.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
