@if (data()) {
  <div class="showcase-home">
    @if (data().config; as config) {
      <header class="showcase-home__header">
        <span class="showcase-home__header__version">{{ config.version }}</span>
        <div class="row">
          <mat-icon>{{ config?.icon }}</mat-icon>
          <h1>{{ config.title | translate }}</h1>
          <p>{{ config.description | translate }}</p>
        </div>
      </header>
    }
    @if (data().nav; as navItemGroups) {
      <div class="showcase-home__links row">
        @for (group of navItemGroups; track group.label) {
          @for (item of group.items; track item.label) {
            <div style="margin-bottom: 30px">
              <h2>{{ item.label | translate }}</h2>
              <div style="display: flex; flex-wrap: wrap">
                @for (link of item.children; track link.label) {
                  <button
                    style="margin-right: 10px"
                    mat-raised-button
                    [routerLink]="['/' + link.route]"
                  >
                    {{ link.label | translate }}
                  </button>
                }
              </div>
            </div>
          }
        }
      </div>
    }
  </div>
}
